body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
    padding-left: 10px;
    padding-right: 20px;
}
a:hover{
    color: red;
    font-weight: bolder;
}

h2{
    color: green;
    text-shadow: 3px 3px 3px lightblue;
}