*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    margin-top: 20px;
    margin-left: 20px;
    background-color: antiquewhite;
}

img{
    padding-bottom: 10px;
}

img:hover{
    box-shadow: 3px 2px 2px gray;
}

img.hinh_trai{
    float: left;
    padding-right: 20px;
    width: 50%;
}
img.hinh_phai{
    float: right;
    padding-left: 20px;
    width: 50%;
}

img.title{
    width: 25%;
    padding: 10px;
    border-radius: 50%;
    box-shadow: none;
}

img.title:hover{
    transform: rotateZ(90deg);
}



div{
    clear: both;
    padding-top: 20px;
}

p{
    text-align: justify;
    padding-right: 20px;
}

h4{
    text-transform: uppercase;
    color: brown;
}